<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs')%>
  <div class="container">
    <hr />
    <h2>Artigos</h2>
    <a class="btn btn-success mb-4" href="/admin/articles/new">
      Criar novo artigo
    </a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Título</th>
          <th>Slug</th>
          <th>Categoria</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% articles.forEach(article => {%>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.slug %></td>
          <!-- Usando o resultado de inner join -->
          <td><%= article.category.title %></td>
          <td>
            <a
              href="/admin/articles/edit/<%= article.id %>"
              class="btn btn-warning"
            >
              Editar
            </a>

            <form
              action="/articles/delete"
              method="POST"
              style="display: inline;"
              onsubmit="confirmaDelecao(event, this)"
            >
              <input type="hidden" name="id" value="<%= article.id %>" />
              <button type="submit" class="btn btn-danger">Deletar</button>
            </form>
          </td>
        </tr>
        <%});%>
      </tbody>
    </table>
  </div>
  <script>
    function confirmaDelecao(event, form) {
      event.preventDefault();

      const decisao = confirm("Você quer deletar este artigo?");

      if (decisao) {
        form.submit();
      }
    }
  </script>
</body>
<%- include('../../partials/footer.ejs') %>
