<%- include('../../partials/header.ejs') %>
<body>
  <%- include('../../partials/navbar.ejs') %>

  <div class="container">
    <h2>Usuários</h2>

    <a class="btn btn-success mb-4" href="/admin/users/create">
      Criar novo usuário
    </a>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user=>{ %>
        <tr>
          <th><%= user.id %></th>
          <th><%= user.email %></th>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</body>
<%- include('../../partials/footer.ejs') %>
